.card{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  background-color: #ddebf8;
  border-bottom: 8px solid #d8cefe;
  color: #2b2839;
}

body {
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 150px;
}

.border-blue{
   border: 1px dotted blue;
}